= render partial: 'layouts/header'
.container
  = render partial: 'layouts/sidebar'
  .Main
    .Note
      .Note__top
        = link_to new_user_note_path, class: "Note-btn" do
          = icon('fas', 'pen', class: 'Note-btn-icon')
          枠内をクリックしてノートを入力
      .Note__bottom
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          .Note-box__left
            日付:2020/08/01
            タイトル:今日はトップページの実装
          .Note-box__right
            = icon("fas", "caret-down", class: "Note-box-icon")
        

