= render partial: 'layouts/header'
.container
  = render partial: 'layouts/sidebar'
  .Main
    .Note
      .Note__top
        = link_to new_user_note_path, class: "Note-btn" do
          = icon('fas', 'pen', class: 'Note-btn-icon')
          枠内をクリックしてノートを入力
      .Note__bottom
        = render @notes