= render partial: 'layouts/header'
.container
  = render partial: 'layouts/sidebar'
  .Main
    .Note
      .Note__top
        .Note-btn
          = icon('fas', 'pen', class: 'Note-btn-icon')
          ノートを入力
      .Note__bottom
        .Note-box
          日付:2020/08/01
          タイトル:今日はトップページの実装
          = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          日付:2020/08/01
          タイトル:今日はトップページの実装
          = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          日付:2020/08/01
          タイトル:今日はトップページの実装
          = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          日付:2020/08/01
          タイトル:今日はトップページの実装
          = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          日付:2020/08/01
          タイトル:今日はトップページの実装
          = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          日付:2020/08/01
          タイトル:今日はトップページの実装
          = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          日付:2020/08/01
          タイトル:今日はトップページの実装
          = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          日付:2020/08/01
          タイトル:今日はトップページの実装
          = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          日付:2020/08/01
          タイトル:今日はトップページの実装
          = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          日付:2020/08/01
          タイトル:今日はトップページの実装
          = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          日付:2020/08/01
          タイトル:今日はトップページの実装
          = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          日付:2020/08/01
          タイトル:今日はトップページの実装
          = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          日付:2020/08/01
          タイトル:今日はトップページの実装
          = icon("fas", "caret-down", class: "Note-box-icon")
        .Note-box
          日付:2020/08/01
          タイトル:今日はトップページの実装
          = icon("fas", "caret-down", class: "Note-box-icon")

