= render partial: 'layouts/header'
.container
  = render partial: 'layouts/sidebar'
  .Main
    = form_with model: [@user, @introduction], class: "IntroductionForm", data: { remote: false} do |f|
      %h2.IntroductionForm__top 自己紹介文編集
      .IntroductionForm__middle
        = f.label :title, "タイトル", class: "IntroductionForm-label"
        = f.text_field :title, class: "IntroductionForm-input"
        = f.label :content, "自己紹介文", class: "IntroductionForm-label"
        = f.text_area :content, class: "IntroductionForm-textarea"
      .IntroductionForm__bottom
        = link_to "戻る", "#", class: "IntroductionForm-btn"
        = f.submit "保存", class: "IntroductionForm-btn"