%aside.Sidebar
  .Sidebar__top
    = link_to user_notes_path(current_user.id), class: "MenuBox-link" do
      .MenuBox
        .MenuBox-icon
          = icon('fas', 'user-edit')
        %span.MenuBox-text Notes
    = link_to user_introductions_path(current_user.id), class: "MenuBox-link" do
      .MenuBox
        .MenuBox-icon
          = icon('far', 'comment')
        %span.MenuBox-text Introductions
  .Sidebar__bottom
    .Rule
      = link_to "#", class: "Rule__link" do
        プライバシー
      %span ・
      = link_to "#", class: "Rule__link" do
        利用規約
      %br
      = link_to "#", class: "Rule__link" do
        オープンソースライセンス
