%aside.Sidebar
  .Sidebar__top
    .MenuBox
      .MenuBox-icon
        = icon('fas', 'user-edit', class: '')
        %span.MenuBox-text SelfNote
    = link_to user_introductions_path(current_user.id), class: "MenuBox-link" do
      .MenuBox
        .MenuBox-icon
          = icon('fas', 'user-edit', class: '')
        %span.MenuBox-text INTRODUCTIONS
    .MenuBox
      .MenuBox-icon
        = icon('fas', 'user-edit', class: '')
      %span.MenuBox-text SelfNote
  .Sidebar__bottom
    .Rule
      = link_to "#", class: "Rule__link" do
        プライバシー
      %span ・
      = link_to "#", class: "Rule__link" do
        利用規約
      %br
      = link_to "#", class: "Rule__link" do
        オープンソースライセンス
